<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>SortData</title>
	<script src="../scripts/angular.min.js"></script>
	<script src="../scripts/09_sortData.js"></script>
	<link href="../Styles.css" rel="stylesheet" />
</head>
<body ng-app="myModule">
	<div ng-controller="myController">
		Order By : 	<select ng-model="sortColumn">
						<option value="firstName">Name ASC</option>
						<option value="gender">Gender ASC</option>
						<option value="dateOfBirth">Date Of Birth ASC</option>
						<option value="-salary">Salary DESC</option>
					</select>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Date of Birth</th>
					<th>Gender</th>
					<th>Salary </th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="employee in employees | orderBy:sortColumn">
					<td>{{ employee.firstName }}</td>
					<td>{{ employee.dateOfBirth | date:"dd/MM/yyyy" }}</td>
					<td>{{ employee.gender }}</td>
					<td>{{ employee.salary }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>