<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Search2</title>
	<script src="../scripts/angular.min.js"></script>
	<script src="../scripts/12_searchMultipleTextbox.js"></script>
	<link href="../Styles.css" rel="stylesheet" />
</head>
<body ng-app="myModule">
	<div ng-controller="myController">
		<input type="text" ng-model="searchText.name" placeholder="Search name" />
		<input type="text" ng-model="searchText.city" placeholder="Search city" />
		<input type="checkbox" ng-model="exactMatch" /> Exact Match
		<br/><br/>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Gender</th>
					<th>Salary</th>
					<th>City</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="employee in employees | filter:searchText:exactMatch">
					<td>{{ employee.name }}</td>
					<td>{{ employee.gender }}</td>
					<td>{{ employee.salary }}</td>
					<td>{{ employee.city }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>