<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>HideAndShowElement</title>
	<script src="../scripts/angular.min.js"></script>
	<script src="../scripts/14_hideMaskColumn.js"></script>
	<link href="../Styles.css" rel="stylesheet" />
</head>
<body ng-app="myModule">
	<div ng-controller="myController">
		<input type="checkbox" ng-model="maskSalary" /> Mask Salary
		<br /><br />
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Gender</th>
					<th>City</th>
					<th ng-hide="maskSalary">Salary</th>
					<th ng-show="maskSalary">Salary</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="employee in employees">
					<td>{{ employee.name }}</td>
					<td>{{ employee.gender }}</td>
					<td>{{ employee.city }}</td>
					<td ng-hide="maskSalary">{{ employee.salary }}</td>
					<td ng-show="maskSalary">####</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>